<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>用户登录</title>
		<base th:href="${baseHref}" />
	</head>
	<body>
		<label>账号</label><input type="text" id="account"/>
		<label>密码</label><input type="password" id="pwd"/>
		<button id="loginBtn">登录</button>
	</body>
	<script type="text/javascript" src="js/pub/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="js/pub/cookie.js" ></script>
	<script type="text/javascript" src="js/user/login.js" ></script>
</html>
